<footer class="container-fluid">
    <div class="row well well-sm">
        <span class="col-xs-5">&copy; 2017 Mahdi Saeikhalili</span>
        <span class="col-xs-7 text-right">
                <a href="#"><i class="fa fa-github-square fa-3x" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i></a>
            </span>
    </div>
</footer>