<div class="alert alert-info">
    <h4>Learn Git</h4>
    <p> CodeAcademy Course to learn basic of git. check out
        <a href="https://www.codecademy.com/learn/learn-git"> here </a> to start course.</p>

</div>
<div class="alert alert-info">
    <h4>Web Design Basics</h4>
    <p> CodeAcademy Course to learn basic of web designing. check out
        <a href="https://www.codecademy.com/learn/make-a-website"> here </a> to start course.</p>

</div>
<div class="alert alert-info">
    <h4>Bootstrap Youtube Course</h4>
    <p> Series of Youtube Bootstrap tutorials . check out
        <a href="https://www.youtube.com/playlist?list=PL6gx4Cwl9DGBPw1sFodruZUPheWVKchlM"> here </a> to start course.</p>

</div>