<div class="col-md-6 col-md-push-3 col-sm-6">
    <div class="panel panel-default">
        <div class="panel-heading">quick Git and Bootstrap - Monday 6/5/17</div>
        <div class="panel-body">
            <p>Today we get a quick look at Git and Bootstrap, here are some cheat sheet and links. Today we get a quick look at Git and Bootstrap, here are some cheat sheet and links. Today we get a quick look at Git and Bootstrap, here are some cheat sheet
                and links. Today we get a quick look at Git and Bootstrap, here are some cheat sheet and links.
            </p>

            <code>git diff file_name</code>
            <P>This shows difference between Working and Staging version of a file.</P>

            <code>git log</code>
            <p>list all commits.</p>


            <code>git branch</code>
            <p>list of branches</p>


            <code>git branch branch_name</code>
            <p>create a new branch</p>


            <code>git checkout branch_name</code>
            <p>change to another branch.</p>
        </div>
    </div>


</div>